<nav style="background-color: #f4e61a;">
    <div class="nav-wrapper">
        <a  style="color: #f44d1a;" class="brand-logo center">{{ showInformationCanine ? 'Informacion Canina' : 'Information Canine' }}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a style="color: #f44d1a;" routerLink="avisosprives">Politica de Privacidad</a></li>
            <li><a style="color: #f44d1a;" routerLink="avisospriven">Privacy Policy</a></li>
        </ul>
    </div>
</nav>