<div class="container section black-text">

    
        <h2 class="center">Politica de privacidad</h2>
    

    <div class="row">
        <div class="col s12">
            <p>Gracias por utilizar nuestra skill de Alexa, Informacion Canina. Nos tomamos muy en serio la privacidad de
                nuestros usuarios y nos comprometemos a proteger la información personal que puedas proporcionarnos.
                Esta política de privacidad describe cómo recopilamos, utilizamos y almacenamos dicha información.</p>
        </div>

        <div class="col s12">
            <b>Información recopilada:</b>
            <p>
                Nombre: Solicitamos tu nombre para poder mostrar un mensaje de bienvenida.
            </p>
        </div>

        <div class="col s12">
            <b>Uso de la información:</b>
            <p>
            </p>
            <li>
                Utilizamos tu nombre únicamente con el propósito de personalizar tu experiencia en la skill 
            </li>
            <li>No compartimos tu nombre ni cualquier otra información personal con terceros.</li>
            <p></p>
        </div>

        <div class="col s12">
            <b>Almacenamiento de la información:</b>
            <p>
                Guardamos el nombre que nos proporcionas en nuestra base de datos de forma segura, utilizando medidas de seguridad
                adecuadas para proteger la información contra acceso no autorizado o uso indebido.
            </p>
        </div>

        <div class="col s12">
            <b>Eliminación de la información:</b>
            <p>
                Si deseas que eliminemos tu información personal de nuestra base de datos, puedes contactarnos a través
                de los medios indicados al final de esta política.
            </p>
        </div>

        <div class="col s12">
            <b>Cambios en la política de privacidad: </b>
            <p>
                Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Te recomendamos
                que revises periódicamente esta página para estar al tanto de cualquier cambio.
            </p>
        </div>

        <div class="col s12">
            <b>Contacto:</b>
            <p>
                Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, por favor contáctanos a
                través de 20200707@uthh.edu.mx
            </p>
        </div>

        <div class="col s12">
            <b>Su consentimiento para el tratamiento de sus datos personales</b>
            <p>
                Consiento que mis datos personales sean tratados de conformidad con los términos y condiciones
                informados en el presente aviso de privacidad.
            </p>
            <p class="rigth">
                Última actualización: 17/07/2023
            </p>
        </div>
    </div>
</div>