<div class="container section black-text">
    <h2 class="center">Privacy Policy</h2>


    <div class="row">
        <div class="col s12">
            <p>Thank you for using our Alexa skill, Canine Information. We take the privacy of our users seriously and are committed to protecting the personal information you may provide to us. This privacy policy describes how we collect, use, and store such information.</p>
        </div>
    
        <div class="col s12">
            <b>Collected Information:</b>
            <p>
                Name: We request your name in order to display a welcome message.
            </p>
        </div>
    
        <div class="col s12">
            <b>Use of Information:</b>
            <p>
            </p>
            <li>We use your name solely for the purpose of personalizing your experience in the skill.</li>
            <li>We do not share your name or any other personal information with third parties.</li>
            <p></p>
        </div>
    
        <div class="col s12">
            <b>Information Storage:</b>
            <p>
                We securely store the name you provide to us in our database, using appropriate security measures to protect the information against unauthorized access or misuse.
            </p>
        </div>
    
        <div class="col s12">
            <b>Information Deletion:</b>
            <p>
                If you wish to have your personal information deleted from our database, you can contact us through the means indicated at the end of this policy.
            </p>
        </div>
    
        <div class="col s12">
            <b>Changes to the Privacy Policy:</b>
            <p>
                We reserve the right to modify this privacy policy at any time. We recommend that you periodically review this page to stay informed about any changes.
            </p>
        </div>
    
        <div class="col s12">
            <b>Contact:</b>
            <p>
                If you have any questions or concerns about our privacy policy, please contact us at 20200707@uthh.edu.mx
            </p>
        </div>
    
        <div class="col s12">
            <b>Your Consent to the Processing of Your Personal Data</b>
            <p>
                I consent to my personal data being processed in accordance with the terms and conditions set forth in this privacy notice.
            </p>
            <p class="right">
                Last updated: 17/07/2023
            </p>
        </div>
    </div>
    
</div>
